@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

*{
    margin: 0px;
    padding: 0px;
    font-family: "Bree Serif";
}

.home-page-bg-container{
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-bg.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.home-page-card{
    background-color: #ffffff;
    text-align: center;
    padding: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.home-page-heading{
    margin-top: 20px;
    font-size: 25px;
    color: #f19116;
    /* font-weight: bold; */
}

.home-page-para{
    font-size: 16px;
    color: #7b8794;
    margin-bottom: 50px;
}

.button{
    background-color: #f19116;
    color: #ffffff;
    width: 100px;
    margin-bottom: 40px;
}

/* ************************************************************************************************************************************ */

.second-page-bg-container{
    background-color: #222222;
    padding: 25px;
    height: 100vh;
    background-size: cover;
}

.img-1{
    height: 185px;
    width: 100px;
    margin-right: 20px;
}

.second-page-heading-1{
    /* margin-top: 20px; */
    font-size: 25px;
    color: #f19116;
    /* font-weight: bold; */
}

.second-page-card-heading{
    color: #0f0e46;
    font-size: 24px;
    text-align: left;
    font-weight: 700;
    margin-top: 15px;
}

.second-page-card-para-5{
    color: #7b8794;
    font-size: 16px;
    text-align: left;
}

.second-page-card-setup{
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    /* justify-content: space-between; */
}

/* ************************************************************************************************************************** */

.flats-detailed-page-bg-container{
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-d1-img.png");
    background-size: cover;
    height: 30vh;
}


.flats-detailed-page-bg-container-1{
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-d2-img.png");
    background-size: cover;
    height: 30vh;
}

.flats-detailed-page-bg-container-2{
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-d3-img.png");
    background-size: cover;
    height: 30vh;
}

.flats-detailed-card-section{
    background-color: #222222;
    height: 100vh;
    padding: 25px;
}

.img-2{
    width: 24px;
    margin-right: 20px;
}

.second-page-card-para{
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
}

.flats-detailed-card-view{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}

.line{
    color: #ffffff;
    background-color: #ffffff;
    /* width: 100px; */
    height: 2px;
    margin-bottom: 30px;
}

.flats-detailed-card-view-1{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-between; */


}

.button-2{
    background-color: #f19116;
    color: #ffffff;
    width: 100px;
    /* margin-bottom: 40px; */
    margin-top: 50px;
    margin-right: 30px;
}